<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="main.css">
		<title>To Do List</title>
	</head>
	<body>
		
		<div class="container">
			
			<div class="row">
				
				<div class="col-md-6 col-md-offset-3">
					<h1 class="text-center">My To Do List</h1>
					<hr><br>
				</div>
				
				<div class="col-md-12" id="listCanvas">
						<script id="todos-template" type="text/x-handlebars-template">
										\{{#each todos}}
										<div class="row">
												<div class="col-md-5">
															<h3>\{{task}}</h3>
															<ul><li>\{{description}}</li></ul>
												</div>
												<div class="col-md-3 btn-group">
													<span class="glyphicon glyphicon-pencil btn btn-primary" id='\{{_id}}'></span>
													
													<form class="editDrop" id="form\{{_id}}">
														<div class="form-group">
															<input type="text" class="form-control" name="task" placeholder="edit task">
															<input type="text" class="form-control" name="description" placeholder="edit description">
															<input type="submit" class="btn btn-primary btn-block submitEdit" id="editTodo\{{_id}}">
															</div>
														</form>
														
														<span class="glyphicon glyphicon-remove btn btn-primary" id="deleteBtn\{{_id}}" aria-hidden="true"> </span>
												</div>
										</div>
										<br><hr>
										\{{/each}}
						</script>
				</div>
			</div>
			 <div class="row">
			 	<div class="col-md-3">
					 <form id="todoForm">
		            <div class="form-group">
		              <input type="text" class="form-control" name="task" placeholder="Add new task">
		              <input type="text" class="form-control" name="description" placeholder="Description of task">
		              <input type="submit" class="btn btn-info btn-block" id="submitTodo">
		            </div>
		       </form>
		      </div>
       </div>
		</div>
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<!-- custom script -->
		<script type="text/javascript" src="scripts.js"></script>
	</body>
</html>